In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("insurance.csv")

In [4]:
X=data.drop(labels=["expenses"],axis=1)

In [5]:
y=data[["expenses"]]

In [6]:
X

      age     sex   bmi  children smoker     region
0      19  female  27.9         0    yes  southwest
1      18    male  33.8         1     no  southeast
2      28    male  33.0         3     no  southeast
3      33    male  22.7         0     no  northwest
4      32    male  28.9         0     no  northwest
...   ...     ...   ...       ...    ...        ...
1333   50    male  31.0         3     no  northwest
1334   18  female  31.9         0     no  northeast
1335   18  female  36.9         0     no  southeast
1336   21  female  25.8         0     no  southwest
1337   61  female  29.1         0    yes  northwest

[1338 rows x 6 columns]

In [7]:
y

      expenses
0     16884.92
1      1725.55
2      4449.46
3     21984.47
4      3866.86
...        ...
1333  10600.55
1334   2205.98
1335   1629.83
1336   2007.95
1337  29141.36

[1338 rows x 1 columns]

In [8]:
categorical_cols=X.select_dtypes(include='object').columns

In [9]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [10]:
numerical_cols

Index(['age', 'bmi', 'children'], dtype='object')

In [11]:
X.select_dtypes(include='object')

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [12]:
sex_categories = ['male','female']
smoker_categories = ['yes','no']
region_categories = ['southwest','southeast','northwest','northeast']

In [13]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [14]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [15]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[sex_categories,smoker_categories,region_categories]))
    ]
    
)

In [16]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [17]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [18]:
preprocessor.fit_transform(X_train)

array([[-1.26120616, -0.76009275, -0.92504639,  0.        ,  1.        ,
         3.        ],
       [-0.97833575,  0.49564145,  2.43745232,  0.        ,  1.        ,
         1.        ],
       [-0.62474772,  2.20800627,  0.75620297,  0.        ,  1.        ,
         1.        ],
       ...,
       [-0.69546533,  0.60979911, -0.92504639,  0.        ,  0.        ,
         0.        ],
       [ 0.78960436,  2.51786276, -0.08442171,  1.        ,  1.        ,
         1.        ],
       [ 1.56749801,  0.85442265, -0.92504639,  0.        ,  0.        ,
         1.        ]])

In [19]:
preprocessor.transform(X_test)

array([[ 0.78960436,  0.26732614, -0.08442171,  0.        ,  0.        ,
         3.        ],
       [-0.62474772,  0.12055202, -0.08442171,  0.        ,  1.        ,
         0.        ],
       [-0.2711597 , -0.58070215, -0.08442171,  0.        ,  1.        ,
         0.        ],
       ...,
       [-1.40264137, -1.62442927, -0.92504639,  0.        ,  1.        ,
         0.        ],
       [-0.05900689, -1.73858693,  0.75620297,  1.        ,  1.        ,
         3.        ],
       [ 1.21390999,  1.11535443,  0.75620297,  1.        ,  1.        ,
         1.        ]])

In [20]:
preprocessor.get_feature_names_out()

array(['num_pipeline__age', 'num_pipeline__bmi', 'num_pipeline__children',
       'cat_pipeline__sex', 'cat_pipeline__smoker',
       'cat_pipeline__region'], dtype=object)

In [21]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [22]:
X_train

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,-1.261206,-0.760093,-0.925046,0.0,1.0,3.0
1,-0.978336,0.495641,2.437452,0.0,1.0,1.0
2,-0.624748,2.208006,0.756203,0.0,1.0,1.0
3,1.284628,-0.450236,-0.084422,0.0,1.0,1.0
4,-0.766183,-1.086257,1.596828,0.0,0.0,1.0
...,...,...,...,...,...,...
931,-0.271160,0.577183,-0.084422,1.0,1.0,1.0
932,0.153146,-0.385003,-0.084422,1.0,1.0,2.0
933,-0.695465,0.609799,-0.925046,0.0,0.0,0.0
934,0.789604,2.517863,-0.084422,1.0,1.0,1.0
935,1.567498,0.854423,-0.925046,0.0,0.0,1.0

In [23]:
X_test

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,0.789604,0.267326,-0.084422,0.0,0.0,3.0
1,-0.624748,0.120552,-0.084422,0.0,1.0,0.0
2,-0.271160,-0.580702,-0.084422,0.0,1.0,0.0
3,-0.483313,-2.097368,0.756203,1.0,0.0,2.0
4,0.931040,0.984889,-0.925046,0.0,1.0,0.0
...,...,...,...,...,...,...
397,1.284628,-0.303462,2.437452,1.0,1.0,3.0
398,0.577452,1.343670,0.756203,0.0,0.0,1.0
399,-1.402641,-1.624429,-0.925046,0.0,1.0,0.0
400,-0.059007,-1.738587,0.756203,1.0,1.0,3.0
401,1.213910,1.115354,0.756203,1.0,1.0,1.0

In [24]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [25]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [26]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [27]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [28]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [29]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [30]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [31]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [32]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 5858.705669057534
MAE: 4028.5289830492984
R2 score 76.31627791214297
===================================


Lasso
Model Training Performance
RMSE: 5858.846988366499
MAE: 4028.703486822185
R2 score 76.31513533636095
===================================


Ridge
Model Training Performance
RMSE: 5861.531016835728
MAE: 4040.666349630585
R2 score 76.29342955958658
===================================


Elasticnet
Model Training Performance
RMSE: 9491.284447504539
MAE: 7208.318322416154
R2 score 37.84206560287417
===================================

In [33]:
r2_list

[0.7631627791214297,
 0.7631513533636095,
 0.7629342955958658,
 0.37842065602874175]